In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df = pd.read_csv("real-estate-df.csv")
df.head()

      Price  Rooms  ROI
0  222510.0      2    7
1  450000.0      4    8
2  279000.0      2    6
3  332035.0      3    7
4  218929.0      2    7

In [4]:
df.shape

(27, 3)

In [5]:
X = df.drop(['ROI'],axis='columns')
X.head()

      Price  Rooms
0  222510.0      2
1  450000.0      4
2  279000.0      2
3  332035.0      3
4  218929.0      2

In [6]:
y = df.ROI
y.head()

0    7
1    8
2    6
3    7
4    7
Name: ROI, dtype: int64

In [7]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [8]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.7762662679268044

In [11]:
def predict_price(Price, Rooms):    

    x = np.zeros(len(X.columns))
    x[0] = Price
    x[1] = Rooms

    return lr_clf.predict([x])[0]

In [10]:
predict_price(300000, 3)

NameError: name 'bhk' is not defined

In [12]:
predict_price(300000, 3)

7.50300655284864

In [13]:
import pickle
with open('model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [14]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))